{% extends 'News/layout.html' %}

{% block title %}Про нас{%endblock%}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Мы начинающая компания по разработке игр на мобильные телефоны 4Real.</p>
        <p>Разрабатываем различные игры – это могут быть гиперказуалки, хорроры, платформеры и головоломки.</p>
        <p>Наша небольшая компания состоит из 6 человек:
            <li>Кондауров Владимир – директор компании/программист</li>
            <li> Удовиков Сергей – Основной 3D-дизайнер </li>
            <li>Домашенко Максим – Основной Программист </li>
            <li> Долгополов Даниил – дизайнер уровней </li>
            <li>Викулова Елизавета – art художник </li>
        </p>
    </div>
{%endblock%}
