{% extends 'News/layout.html' %}

{% block title %}Про нас{%endblock%}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <div>
            <div>
                <p>Наш Телеграм:</p>
                <a href="https://web.telegram.org/k/#@danil_dda">Даннил</a>
            </div>
            <div>
                <p>Наш телефон:</p>
                <a href="tel:+9051727295"+7>+7 905-172-72 95</a>
            </div>
            <div>
                <p>Наш Вк:</p>
                <a href="https://vk.com/profdstu">Профсоюз</a>
            </div>
        </div>
    </div>
{%endblock%}
