{% extends 'News/layout.html' %}

{% block title %}{{title}}{%endblock%}

{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <p>Это новостной сайт Компании 4Real.</p>
        <p>Здесь будут публиковаться новости, связанные с нашими проектами, также будут Анонсы новых игр!!!</p>
        <p>Не забывайте подписываться на нашу группу в вк и телеграмм (можете найти их в разделе контакты)</p><br>
        <p>Наши проекты</p>
        <li><a href="https://cloud.mail.ru/public/Y7tE/AC9QCdi5d" download="" class ="link">House_of_Death</a></li>
        <li><a href="https://cloud.mail.ru/public/G58q/RqkymLFtY" download="" class ="link">Plumb</a></li>
        <li><a href="https://drive.google.com/file/d/14dUc8Y2LqzAKQIYn0ZBsY1sf6FeH_rwI/view" download="" class ="link">XCube</a></li>
    </div>
{%endblock%}